* {
  padding: 0;
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 1fr 4fr 2fr;
}
.header {
  grid-area: header;
  background-color: #fadd2a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  grid-area: main;
  background-color: #0a78c3;
}
.footer {
  grid-area: footer;
  background-color: #fff;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  gap: 5px;
  padding-bottom: 3rem;
}
.header__img {
  width: 100%;
}
.header__figure {
  width: 18%;
}
.header__title {
  font-size: 6vw;
}
.article__pokedex {
  display: grid;
  grid-template-areas: "title" "imagen" "description";
  grid-template-rows: 70px 2fr 305px;
  width: 80%;
  margin: 3rem auto;
}
.article__title {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 9px;
}
figcaption {
  font-size: 1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.article__pokemon {
  grid-area: imagen;
  width: 100%;
  z-index: 1;
}
.section__list {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  border-radius: 9px;
  justify-content: center;
  margin-top: -60px;
}
.section__list__item {
  display: flex;
}
.section__list__item h4 {
  width: 50%;
  padding: 0.5em;
  font-size: 16px;
}
.section__list__item span {
  width: 50%;
  padding: 0.5em;
  font-size: 18px;
}
.article__img {
  width: 13%;
  margin-right: 10px;
}

.article__big__pokemon {
  width: 100%;
}
.footer__figure {
  width: 35%;
  background-color: #dc6d1c;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  /* height: 35%; */
}
.footer__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__others {
  width: 85%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer__h3 {
  text-align: center;
  margin: 1rem 0;
}
.footer__figure:hover {
  background-color: #ca5806;
  transition: background-color 200ms ease-in-out 200ms;
}
@media screen and (min-width: 400px) {
  .article__img {
    width: 10%;
  }
}
@media screen and (min-width: 500px) {
  .section__list {
    margin-top: -65px;
  }
}
@media screen and (min-width: 564px) {
  .article__img {
    width: 9%;
  }
}
@media screen and (min-width: 700px) {
  .footer,
  .article__pokedex {
    width: 60%;
  }
  .article__img {
    width: 10%;
  }
  .article__pokedex {
    grid-template-rows: 85px 2fr 350px;
  }
  .section__list__item h4 {
    font-size: 20px;
  }
  .section__list__item span {
    font-size: 25px;
  }
  .header__title {
    font-size: 4vw;
  }
  .header__figure {
    width: 10%;
  }
}
@media screen and (min-width: 800px) {
  .article__pokedex {
    grid-template-areas: "title description " "imagen description";
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 300px;
    gap: 1rem;
  }
  .section__list {
    margin-top: 0;
  }
  .article__big__pokemon {
    height: 100%;
  }
  .footer,
  .article__pokedex {
    width: 80%;
  }
  .footer {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  .footer__others {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .footer__figure {
    width: 20%;
  }
  .footer__h3 {
    align-items: center;
  }
  .section__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section__list__item {
    flex-direction: column;
    width: 45%;
    margin: auto;
    text-align: center;
  }
  .header {
    margin-left: 0;
    justify-content: start;
  }
}
@media screen and (min-width: 900px) {
  .article__pokedex,
  .footer {
    width: 70%;
  }
  .header__figure {
    width: 10%;
  }
}
@media screen and (min-width: 1000px) {
  .article__pokedex,
  .footer {
    width: 60%;
  }
  .article__pokemon {
    display: flex;
  }
  .article__big__pokemon {
    width: 80%;
    margin: auto;
  }
  .article__figure {
    width: 10%;
  }
  .header__title {
    font-size: 2vw;
  }
}

@media screen and (min-width: 1920px) {
  .article__pokedex {
    width: 50%;
    grid-template-rows: 90px 350px;
    grid-template-columns: 5fr 400px;
  }
  .article__img {
    width: 8%;
  }
  .footer {
    width: 50%;
  }
  .header__figure {
    width: 4%;
  }
  figcaption {
    font-size: 1.5em;
  }
  .header__title {
    font-size: 1.2vw;
  }
  .footer__figure {
    width: 15%;
  }
  .section__list__item h4 {
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    width: 100%;
    padding: 1rem 0;
  }
  .section__list__item span {
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    padding: 1rem 0;
  }
}
