* {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 100vw;
  height: 100vh;
  background: grey;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 1fr 8fr 2fr;
}
.container__header {
  grid-area: header;
  background-color: #fadd2a;
  display: flex;
  padding: 7px 0;
}
.container__footer {
  grid-area: footer;
  background-color: #fff;
}
.container__section {
  grid-area: main;
  background-color: #0a78c3;
  display: flex;
  justify-content: center;
}
.container__header__container {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.container__header__figure {
  width: 25%;
  display: flex;
  justify-content: end;
}
.container__header__img {
  width: 100%;
}
.container__header__title {
  font-size: 20px;
}
.container__section__article {
  display: grid;
  grid-template-areas: "title" "imagen" "description";
  grid-template-rows: 70px 2fr 280px;
  grid-auto-flow: column;
  width: 80%;
  margin: 3rem auto;
}
.container__section__article__title {
  grid-area: title;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #fff;
  border-radius: 9px;
}
.container__section__article__figure {
  width: 20%;
  display: flex;
  justify-content: end;
}
.container__section__article__img {
  width: 70%;
}
.container__section__article__pokemon {
  grid-area: imagen;
  width: 100%;
  z-index: 1;
}
.container__section__article__big__pokemon {
  width: 100%;
}
.container__section__article__list {
  grid-area: description;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border-radius: 9px;
  gap: 0.5em;
  margin-top: -60px;
}
.container__section__article__item {
  display: flex;
  width: 100%;
}
.container__section__article__item h4 {
  width: 50%;
  padding: 0.5em;
  font-size: 18px;
  text-transform: uppercase;
}
.container__section__article__item span {
  width: 50%;
  padding: 0.5em;
  font-size: 16px;
}
.container__footer__section {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  gap: 5px;
}
.container__footer__title {
  text-align: center;
  text-transform: uppercase;
  margin: 1rem 0;
  font-weight: 900;
}
.container__footer__others {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.7rem;
}
.container__footer__figure {
  width: 35%;
  background-color: #dc6d1c;
  padding: 5px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.container__footer__figure:hover {
  background-color: #ca5806;
  transition: background-color 200ms ease-in-out 200ms;
}
.container__footer__img {
  width: 100%;
  object-fit: contain;
}
@media screen and (min-width: 400px) {
  .container__header__title {
    font-size: 25px;
  }
  .container__section__article__title {
    font-size: 15px;
  }
  .container__section__article__img {
    width: 60%;
  }
  .container__footer__title {
    font-size: 25px;
  }
}
@media screen and (min-width: 500px) {
  .container__section__article__list {
    margin-top: -65px;
  }
  .container__section__article__img {
    width: 45%;
  }
}
@media screen and (min-width: 600px) {
  .container__section__article {
    grid-template-rows: 85px 2fr 280px;
  }
  .container__section__article {
    width: 70%;
  }
}
@media screen and (min-width: 700px) {
  .container__section__article,
  .container__footer__section {
    width: 60%;
  }
}
@media screen and (min-width: 800px) {
  .container__section__article {
    grid-template-areas: "title description " "imagen description";
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 300px;
    gap: 1rem;
  }
  .container__section__article__list {
    margin-top: 0;
  }
  .container__section__article__big__pokemon {
    height: 100%;
  }
  .container__footer__section {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  .container__footer__others {
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  .container__header__container {
    margin-left: 0;
    justify-content: start;
  }
  .container__header__figure {
    width: 20%;
  }
  .container__section__article,
  .container__footer__section {
    width: 80%;
  }
  .container__footer__figure {
    width: 20%;
  }
  .container__section__article__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container__section__article__item {
    flex-direction: column;
    width: 45%;
    margin: auto;
    text-align: center;
  }
}
@media screen and (min-width: 900px) {
  .container__section__article,
  .container__footer__section {
    width: 70%;
  }
  .container__header__figure {
    width: 10%;
  }
}
@media screen and (min-width: 1000px) {
  .container__section__article,
  .container__footer__section {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .container__section__article,
  .container__footer__section {
    width: 50%;
  }
}
@media screen and (min-width: 1600px) {
  .container__section__article,
  .container__footer__section {
    width: 40%;
  }
}

@media screen and (min-width: 1920px) {
  .container__section__article {
    width: 50%;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 6fr 500px;
  }
  .container__header__figure {
    width: 6%;
  }
  .container__footer__section {
    width: 50%;
  }
  .container__footer__figure {
    width: 15%;
  }
}
